* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(100deg,#ADDAFF,#103366);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.4s ease, color 0.4s ease; /* Transición suave al cambiar entre modo claro/oscuro */
}

main {
    flex: 1; /* Ocupa el espacio disponible para empujar el footer hacia abajo */
    display: flex;
    justify-content: center;
    align-items: center;
}