header {
    width: 100%;
    padding: 0px 10px 0px 10px;
    display: flex;                
    justify-content: space-between; 
    align-items: center;          
    background-color: #ffffff;
}

.logo {
    height: 70px;
    width: 125px;
}

.menu {
    list-style: none;
    display: flex;  
    gap: 30px;       
}

nav a {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-decoration: none;
    color: #005599;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #6d28d9;
    transform: translateY(-2px);
}
